@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    /* background: #c3293a; */
    font-family: 'Noto Sans JP', sans-serif;
}

#LinkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 2em;
}

h2 {
    font-family: "Cinzel Decorative", serif;
    font-size: 2, 5em;
    margin-bottom: 20px;
    font-weight: normal;
}

p a {
    text-decoration: none;
    color: inherit;
}

.boxed {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-sizing:border-box;
    margin-bottom: 10px;
}
.boxed:hover {
    background-color: rgba(255, 255, 255, 0.2);
}